# Dependencies
node_modules/

# Environment variables / API keys
.env
.env.*
!.env.example

# Angular build files
dist/
.angular/
out-tsc/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage / tests
coverage/

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Temporary files
.tmp/
.temp/
.cache/