<section class="hero">
  <div class="hero-content">
    <div>
      <p class="hero-eyebrow">GRANITO GAMINIAI · PAMINKLAI · INTERJERO DETALĖS</p>
  
      <h1>Granito darbai, kurie išlieka</h1>
  
      <p class="hero-text">
        Gaminame paminklus, dengiame kapavietes plokštėmis, restauruojame
        kapavietes ir gaminame granito detales interjerui.
      </p>
  
       <div class="contact-buttons">
      <a href="tel:+37067155017" class="contact-btn gold-btn">
          Skambinti telefonu
      </a>
  
      <a href="viber://chat?number=%2B37067155017" class="contact-btn gold-btn">
          Rašyti per Viber
      </a>
  
      <a href="https://wa.me/37067155017" class="contact-btn gold-btn">
          Rašyti per WhatsApp
      </a>
      </div>
    </div>
  </div>
</section>