<footer class="footer">
  <div class="footer-content">
  <div class="footer-column about">
    <h3>GRANITO GAMINIAI</h3>
    <p>
      Paminklų gamyba, plokščių dengimas, stalviršių gamyba,
      kapaviečių restauravimas ir interjero detalės iš granito.
    </p>
  </div>

    <div class="footer-column">
      <h4>Navigacija</h4>

      <a routerLink="/">Pradžia</a>
      <a routerLink="/atlikti-darbai">Atlikti darbai</a>
      <a routerLink="/kontaktai">Kontaktai</a>
    </div>

    <div class="footer-column">
      <h4>Paslaugos</h4>

      <a routerLink="/paminklai">Paminklų gamyba</a>
      <a routerLink="/ploksciu-dengimas">Plokščių dengimas</a>
      <a routerLink="/stalvirsiai">Stalviršių gamyba</a>
      <a routerLink="/kapavieciu-restauravimas">Kapaviečių restauravimas</a>
      <a routerLink="/interjero-detales">Interjero detalės</a>
    </div>

    <div class="footer-column">
      <h4>Kontaktai</h4>

      <p>Nerijus</p>
      <p>Tel. +370 671 55017</p>
      <p>Viber / WhatsApp</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2026 Granito gaminiai. Visos teisės saugomos.</p>
  </div>
</footer>