.services-section {
    padding: 90px var(--page-padding);
    background: var(--black);
    color: var(--cream);
}

.services-grid {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px 0 50px;
}

.services-section h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold);
    font-size: 50px;
    margin: 50px 0 50px;
    font-family: "Cormorant Garamond", serif;
    line-height: 2;
}
